/* Body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Menu */

.barra-menu{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    font-family: 'Poppins', sans-serif;
}

.logo{
    position: relative;
    bottom: 1%;
    width: 100px;
}

.items{
    position: absolute;
    right: 50px;
    bottom: 3px;
}

.barra-menu ul{
    list-style: none;
}

.barra-menu ul li {
	display:inline-block;
	position: relative;
}

.barra-menu ul li a{
	display: block;
    padding: 0 30px;
    color: #6600FF;
}

.barra-menu ul li a:hover{
    color: #6600FF;
}

.barra-menu ul li a:hover{
    text-decoration: none;
}

.barra-menu ul li:hover .desplegable {
	display:block;
}
 
.barra-menu ul li .desplegable {
    display: none;
    border-radius: 2px;
	background:#ffffff;
	position: absolute;
    width: 120%;
    padding: 0;
    height: 80px;
    z-index:1000;
}
 
.barra-menu ul li .desplegable li {
	display:block;
	overflow: hidden;
    padding: 10px;
}
 
.barra-menu ul li .desplegable li a {
    display: block;
    padding: 0;
    color: #6600FF;
}

.barra-menu ul li .desplegable li a:hover{
    color: #303F9F;
}

/* Encabezado */

.encabezado2{
    width: 100%;
    height: 380px;
    background-image: url(../img/fondom.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
}

.encabezado2 .imagen{
    margin-top: 120px;
    margin-left: 800px;
}

.encabezado2 .subtitulo-encabezado{
    width: 700px;
    margin-left: -98px;
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    font-size: 40px;
}


/* Contenido */

.row{
    background: #6600FF;
    margin-bottom: 1%;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
}

.imgmockups{
    border: black 2px solid ;
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 40px;
    width: 60%;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

.textogeneral{
    text-align: center;
    margin-top: 250px;
}

/* Footer */

footer{
    background: #6600FF;
    padding: 20px;
    width: 100%;
    height: 20%;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}

.correos{
    position: relative; 
    margin-top: 25px;
    bottom: 10%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.caja-redes{
    position: relative;
    text-align: center;
}

.redes{
    font-size: 30px;
    padding-right: 40px;
    color: #FFFFFF;
}