/* Body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */

.barra-menu{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 100px;
    position: relative;
    bottom: 30%;
}

.items{
    position: absolute;
    right: 50px;
    bottom: 3px;
}

.barra-menu ul{
    list-style: none;
}

.barra-menu ul li {
	display:inline-block;
	position: relative;
}

.barra-menu ul li a{
	display: block;
    padding: 0 30px;
    color: #6600FF;
}

.barra-menu ul li a:hover{
    color: #6600FF;
}

.barra-menu ul li a:hover{
    text-decoration: none;
}

.barra-menu ul li:hover .desplegable {
	display:block;
}
 
.barra-menu ul li .desplegable {
    display: none;
    border-radius: 2px;
	background:#ffffff;
	position: absolute;
    width: 120%;
    padding: 0;
    height: 80px;
    z-index:1000;
}
 
.barra-menu ul li .desplegable li {
	display:block;
	overflow: hidden;
    padding: 10px;
}
 
.barra-menu ul li .desplegable li a {
    display: block;
    padding: 0;
    color: #6600FF;
}

.barra-menu ul li .desplegable li a:hover{
    color: #303F9F;
}

/* Contenido */

.imagen{
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 50px;
    border: black 2px solid;
}

.titulo{
    padding-top: 90px;
    margin-left: 6%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

/* Footer */

footer{
    background: #6600FF;
    padding: 20px;
    width: 100%;
    height: 20%;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}

.correos{
    position: relative; 
    margin-top: 25px;
    bottom: 10%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.caja-redes{
    position: relative;
    text-align: center;
}

.redes{
    font-size: 30px;
    padding-right: 40px;
    color: #FFFFFF;
}